.about {
  background-color: var(--light-color);

  &__descr {
    margin: 0;
    margin-bottom: 60px;
    max-width: 800px;
    font-size: 30px;
    line-height: 1.6;
    color: var(--dark-color);

    &-highlight {
      font-weight: 600;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &__item {
    grid-column: 3 span;
  }

  &__digit {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.6;
    color: var(--accent-color);
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
  }
}
