.about {
  background-color: var(--light-color);

  &__descr {
    margin: 0;
    margin-bottom: 60px;
    max-width: 800px;
    font-size: 30px;
    line-height: 1.6;
    color: var(--dark-color);

    &-highlight {
      font-weight: 600;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
    }
  }

  &__item {
    grid-column: 3 span;

    @include high-desktop {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__digit {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.6;
    color: var(--accent-color);
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
  }
}
