<header class="header">

  <div class="container-fluid header__container">

    <a class="logo" href="#">
      <img class="image" loading="lazy" src="img/logo.svg" width="228" height="48" alt="Логотип школы Robo school">
    </a>

    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#about" data-scroll>О школе</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#trainers" data-scroll>Тренеры</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#price" data-scroll>Стоимость</a>
        </li>
      </ul>
    </nav>

    <a class="phone" href="tel:+78000001122">+7 800 000 11 22</a>

  </div>

</header>
