<section class="order">
  <div class="container order__container">

    <div class="order__left">
      <h2 class="order__title">Запишитесь на курс со&nbsp;скидкой 10%</h2>
      <p class="order__descr">Акция действительна до 10 марта 2022 года</p>
    </div>

    <div class="order__right">
      <form class="form order__form" action="#">
        <label class="form__label">
          <input class="form__input" type="text" name="Имя" placeholder="Имя" required>
        </label>
        <label class="form__label">
          <input class="form__input" type="tel" name="Телефон" placeholder="Телефон" required>
        </label>
        <label class="form__label">
          <input class="form__input" type="email" name="Email" placeholder="E-mail" required>
        </label>
        <button class="btn-reset form__btn btn btn--dark">Оформить заявку</button>
      </form>
    </div>

  </div>
</section>
