<section class="tariffs" id="price">
  <div class="container">

    <h2 class="section-title tariffs__title">
      Выберите нужный пакет
    </h2>

    <ul class="tariffs__list list-reset">

      <li class="tariffs__item tariffs__item--current">
        <h3 class="tariffs__subtitle">pro</h3>
        <div class="tariffs__price">20.000 ₽</div>
        <p class="tariffs__descr">УМК по робототетхнике и&nbsp;программированию</p>
        <button class="tariffs__btn btn btn-reset">Оставить заявку</button>
      </li>

      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">robo</h3>
        <div class="tariffs__price">15.000 ₽</div>
        <p class="tariffs__descr">УМК по робототетхнике </p>
        <button class="tariffs__btn btn btn-reset">Оставить заявку</button>
      </li>

      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">prog</h3>
        <div class="tariffs__price">10.000 ₽</div>
        <p class="tariffs__descr">УМК по программированию</p>
        <button class="tariffs__btn btn btn-reset">Оставить заявку</button>
      </li>

    </ul>

  </div>
</section>
